body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f5f5;
}

.product {
    background: white;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

button {
    padding: 10px;
    cursor: pointer;
}